<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Applications</title>
</head>
<body>
    <div class="container">
        <h1>Submitted Applications</h1>
        <table>
            <tr>
                <th>Job Title</th>
                <th>Company</th>
                <th>Application Date</th>
                <th>Status</th>
                <th>Update Status</th>
            </tr>
            {% for application in applications %}
            <tr>
                <td>{{ application.job_title }}</td>
                <td>{{ application.company }}</td>
                <td>{{ application.application_date }}</td>
                <td>{{ application.status }}</td>
                <td>
                    <form class="update-status" action="{{ url_for('update_status', job_id=application._id) }}" method="POST">
                        <input type="text" name="status" value="{{ application.status }}">
                        <input type="submit" value="Update">
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>
        <a href="{{ url_for('index') }}">Back to Home</a>
    </div>
</body>
</html>
